body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}

a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
a,
a:visited {
  text-decoration: none;
}
input {
  margin: 0;
  outline: none;
  border: none;
  background: none;
}
html,
body {
  height: 100%;
}

#root {
  height: 100%;
}
