@font-face {
  font-family: "iconfont";
  src: url("./fonts/iconfont.eot"); /* IE9 */
  src: url("./fonts/iconfont.eot") format("embedded-opentype"), url("./fonts/iconfont.woff") format("woff"),
    url("./fonts/iconfont.ttf") format("truetype"),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url("./fonts/iconfont.svg") format("svg"); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont:before {
  color: #5a5a5a;
}

.icon-cart:before {
  content: "\e887";
}

.icon-cart-focus:before {
  content: "\e888";
}

.icon-home-focus:before {
  content: "\e8b9";
}

.icon-home:before {
  content: "\e8ba";
}

.icon-search:before {
  content: "\e8bb";
}

.icon-my:before {
  content: "\e8c8";
}

.icon-my-focus:before {
  content: "\e8c9";
}

.icon-collocation-focus:before {
  content: "\e91d";
}

.icon-collocation:before {
  content: "\e91e";
}

.icon-category:before {
  content: "\e8dd";
}

.icon-category-focus:before {
  content: "\e8de";
}
